:root{
  --app-width: 1161px;
  --bottom-sheet-height:56px
}

*{
  font-family: RobotoDraft, Roboto, sans-serif;
  color: rgba(0,0,0,.53);
  font-size:13px;
}
.IconTile{
  cursor: pointer;
  background: transparent;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 112px;
  height: 120px;
  font-size:12px;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  margin:8px;

  &--icon{
    align-items: center;
    display: flex;
  }

  &--name{
    padding-top: 8px;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-width: calc(100% - 16px);
  }
  &.selected{
    background-color: #e0e0e0;
  }
}
.IconGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.IconSection{
  display:flex;
  width:100%;
  padding: 56px 0;
  border-top: 1px solid #ccc;
  flex-direction:column;
  max-width:var(--app-width);
  margin:0 8px;

  &--header{
    height:32px;
    display: flex;
    flex-direction: row;
  }
  &--header-title{
    color: rgba(0,0,0,.36);
    display:flex;
    flex:1;
    font-weight:500;
  }
  &--header-buttons{
    display: flex;
    flex-direction: row;
  }
  &--download-code,
  &--view{
    width:32px;
    height: 32px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border-radius:50%;
    margin-left:8px;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
    & svg{
      transition: fill 0.15s ease-in-out;
    }
    &:hover{
      background-color:rgba(0,0,0,.32);
      & svg{
        fill:#fff
      }
    }
  }
  &--code{
    overflow: scroll;
    width: 100%;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
  }
}
.IconApp{
  display: flex;
  flex-direction: column;
  align-items: center;

  & pre {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color:rgba(0,0,0,0.15);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
  }
  &--bottom-sheet-container{
    width:100%;
    height:var(--bottom-sheet-height);
    position:fixed;
    bottom:calc(-1 * var(--bottom-sheet-height));
    display:flex;
    flex-direction:row;
    justify-content: center;
    opacity:0;
    transition: bottom 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);

    &.visible{
      bottom:0;
      opacity:1;
    }

  }
  &--bottom-sheet{
    max-width:var(--app-width);
    width:100%;
    height:var(--bottom-sheet-height);
    background-color: #d9d9d9;
    display:flex;
    flex-direction:row;
    padding:8px;
    box-sizing:border-box;

    & pre{
      display: flex;
      flex: 1;
      height:calc( var(--bottom-sheet-height) - 8 * 2);
      position: relative;
      overflow: hidden;
    }
    & textarea {
      height:calc( var(--bottom-sheet-height) - 8 * 2);
      display: flex;
      flex: 1;
      overflow: hidden;
      width:100%;
      position: relative;
      background:transparent;
      border:0;
      outline:0;
      resize:none;
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
    }
  }
  &--description{
    width:100%;
    max-width:var(--app-width);
    box-sizing:border-box;
    padding:16px;
    & h2 {
      font-size: 24px;
    }
    & p {
      display:block;
      font-size:13px;
      font-weight: normal;
      line-height: 160%;
    }
    & code {
      border-radius:2px;
      background-color: rgba(0,0,0,.16);
      padding: 2px 4px;
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
    }
  }
  &--copy{
    height:calc( var(--bottom-sheet-height) - 8 * 2);
    width:calc( var(--bottom-sheet-height) - 8 * 2);
  }
}

